/* ---------------------Base --------------------------------*/

:root{
--color-body:#333;
--background-body: #ffffff;
}

*{
  box-sizing: border-box;
}

html{
  font-size:62.5%;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-body);
  margin: 0;
  background: var(--color-background-body);
}

h1, h2, h3, h4, h5, h6{
  color: #000;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
}

h1 .h1{
  text-transform: uppercase;
  font-size: 3.1rem;
  font-weight: 700;
}

h2, .h2{
  font-size: 2.8rem;
  text-transform: uppercase;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  align-items: center;
}

ul{
  padding-left: 2rem;
}

li{
  margin-bottom: 1rem;
}

.list-unstyled{
  list-style: none;
  margin: 0;
  padding: 0;
}

.category{
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  color:#5b6c78;
}
  
.container{
  padding: 1rem 2rem;
}

.d-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid_item{
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  padding: 1rem;
}

@media screen and (max-width: 749px){
  .grid_item img{
    width: 350px;
   /* height: 300px; */
  }
}

@media screen and (min-width: 750px) {
  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

.grid_item{
    width: 50%;
  }
}

 /* -----------------Section----------------------------- */

section{
  padding:5.5rem 0;
}

.section-title{
  margin-top: 0;
  font-size: 3.8rem;
}

.section-header{
  text-align: center;
}

@media screen and (min-width: 750px) {
  .section-title{
    font-size: 4.8rem;    
  }
}

/* ---------header---------- */

.header{
  position:sticky;
  top: 0;
  z-index: 1;
  border-radius: 12px;
  background: #ffffff1a;
  border: 1px solid #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
}

.header .logo{
  font-family: "Poppins", sans-serif;
  font-size: 2rem; 
  letter-spacing: 2px;
}

/* .navbar{
  display: none;
} */

.header li{
  display:inline-flex;
  align-items: center;
  padding:0 .5rem;
}

.header a{
  color: var(--color-body);
}

.header a:hover{
  color:blueviolet;
  filter:drop-shadow(2px 2px 20px #360faa);
  /* filter permets un effet néon autour du bouton */
  /* transform: translate(-5px, -10px); */
  /* transforme la propriété du hover en faisant un effet rebond au passage du curseur*/
}

.header .right{
  display:flex;
  padding: 0 .5rem; 
  align-items: center;
}
  
/* ---------social---------- */

.social{
  display: flex;
}

.social li{
  margin-bottom: 0;
}

.social a{
  padding: 0 2px;
}

.social img{
  max-width: 19px;
  height: 22px;
}

/* ---------button---------- */

/* .hamburger {
  display: inline-block;
  cursor: pointer;
  padding: 15px;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 30px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
} */


.burger{
  /* background:none;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: relative;
  margin-left: 1rem; */
  display: inline-block;
  cursor: pointer;
  padding: 15px;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
} 

.burger .bar{
  /* display: block;
  width: 22px;
  height: 3px;
  background-color: black;
  position: relative; */
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 30px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.burger .bar::before, .burger .bar::after{
  /* display: block;
  content:"";
  width: 22px;
  height: 3px;
  background: #000;
  position: absolute;    */
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  /* transition-duration: 0.2s; */
  /* transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);  */
}

.burger .bar::before{
  transform: translateY(-10px);
  /* top: -10px; */
}

.burger .bar::after{
  transform: translateY(10px);
  /* bottom: -10px; */
}

@media screen and (max-width: 749px) {
  nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position : fixed;
    top: 55px;
    left:110%;
    width: 100%;
    height: calc(100vh - 55px);
       /*calc() : permet de calculer vh hauteur totale de la fenêtre moins la taille du header  */
    background: #f5f5f5;   
    opacity: 0;    
    overflow: hidden;
    transition: all .4s ease-out;    
  }
  
  nav .menu li{
    display: flex;
    justify-content: center;
  }

  nav .menu a{
    display: block;
    font-size: 2rem;
    padding: 2rem;
    transition: all .4s;
  }

  .show-nav ul{
    /* width: 100%; */
    left: 0;
    opacity: 1;
    z-index: 2;
  }

.show-nav nav li a:hover{
  transform: scale(1.1);
  text-decoration: none;
}

  .show-nav .burger .bar{
    width: 0;
  }

  .burger .bar::before, 
  .burger .bar::after{
    transition: all .2s ease-out;
  }

  .show-nav .burger .bar::before{
  transform: rotate(-45deg) translate(-10px, 10px);
  }

  .show-nav .burger .bar::after{
    transform: rotate(45deg) translate(-2px, -2px);
    }

}

@media screen and (min-width: 750px) {
  .navbar{
    display: flex;   
  }

  .burger{
    display: none;
  }
} 

/* ---------hero---------- */

.hero{
  background: #4c697c;
  color: #FFFF;
  padding: 1rem 0 0 0;
}

.hero .title{
  color: inherit;
  /* inherit : herite de la couleur de son parent soit .hero non pas de la couleur de la mise en page generale*/
  font-size: 4rem;
  margin: 1.6rem 1rem;
}

.hero_item{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
}

.hero_item span{
  text-transform: uppercase;
  padding-top: 1rem;
}

/* .hero_item .right{
  flex-direction: inherit;
} */

.hero_item.left{
  animation-duration: 1s;
  animation-name: slideInLeft;
}

.hero_item.right{
  animation-duration: 1s;
  animation-name: slideInRight;
}

@media screen and (max-width: 749px) {
  .hero_item.left{
    order: 2;
  }

  .hero_item.right{
    order: 1;
  }
}

@media screen and (min-width: 750px) {
  .hero_item{
    flex: 1 0 50%;    
  }

  .hero_item.left{
    align-items: flex-start;
  }
  
  .hero .title{
    font-size: 5rem;
  }

  .hero_avatar img{
    max-width: 438px;
    border-radius: 50%
  }
}

/* ---------about---------- */

.about {
  padding-top:0;
}

.about .section-title{
  margin-top: 2.8rem;
}

@media screen and (min-width: 750px) {
  .about img{
    margin-right: 3rem;
  }
}

/* ---------services---------- */

.services{
background: #f5f5f5;
}

.services_icon{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  max-width: 90px;  
  max-height: 90px;
  margin: 0 auto;
  border: 2px solid #5b6c78;
  border-radius: 50%;
}

.services_icon i{
  font-size: 35px;
  max-width: 100%;  
  max-height: 100%;
}

.services_content{
  flex: 1;
  margin-bottom: 0;
}

.services h3{
  margin: 0 auto;
}

@media screen and (max-width: 749px) {
  .services{
    display: flex;
  }

  .services_icon{
    margin: 0 auto;
  }
}

@media screen and (min-width: 750px) {
  .services{
    display: flex;
    align-items: center;
  }

  .services_icon{
    /* margin-right: 2rem; */
    width: 90px;
    height: 90px;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
  }
}

/* ---------compétences---------- */

.skills h4, .skills p{
  margin:0 0 0.3rem 0;
}

.skills li{
  background: #f5f5f5;
  border-left: 3px solid rgba(91,107,120);
  padding: .9rem 2rem;
}

.skills .progressbar{
  background: #f5f5f5;
  color: #fff;
  margin-bottom: 1rem;
}

.skills .bar{
  background: #5b6c78;
  padding: 1rem;
}

/* ---------portfolio---------- */

.portfolio{
  background: #f5f5f5;
}

.portfolio-filters .grid_item{
  max-width: 50%;
  margin-bottom: 0;
}

.portfolio .grid_item.hide{
  display: none;
}

.portfolio-filters a{
  color:var(--color-body);
  background: #EEE;
  display: flex;
  flex:1;
  justify-content: center;
  padding: 1rem;
}

.portfolio-filters a.active{
  color:#fff;
  background: #5b6c78;
}

/* Modal */

.modal{
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: scale(0);
  overflow: auto; */
  background-color: rgba(0, 0, 0, 0.4 );
  transition: all 0.5s ease;
}

.modal.show{
  transform: scale(1);
  /* width: 100%;
  height: 100%; */
  top: 0;
  opacity: 1;
  visibility: visible;
}

.modal_content{
  background: #fefefe;
  max-height: 90vh; /*Limite la hauteur max de la modal */
  width: 90%;/*ajuste à la taille du petit écran  */
  max-width: 600px;
  margin: 2rem auto; /*centre la modal */
  padding: 2rem;
  overflow-y: auto; /*permet le défilement si le contenu est trop long*/
  /* text-align: left; */
  box-sizing: border-box;
  position: relative;
}

.modal img{
  margin-bottom: 2rem;
}

.modal_title{
  margin: 0 0 2rem;
}

/*close button */
.modal_close{
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: 1px solid #eee;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  cursor: pointer;
}

.modal .grid_item{
  min-width: 100%;
  margin-bottom: 1rem;
  opacity: 1;
  transition: all 1s ease;
}

@media screen and (max-width: 749px) {
  .portfolio a{
    font-size: 1.4rem;
  }

  .modal_content{
    width: 95%;
  }
}  

@media screen and (min-width: 750px) {
  .modal .grid_item{
    min-width: 50%;   
  }

  .modal_content{
    padding: 3rem;
  } 
  
  .portfolio-filters .grid_item{
    max-width: 25%;
  }

  .portfolio .grid_item {
    max-width: 33.3333%;
  }
}  

/* ---------Card---------- */

.card{
  display: flex;
  flex-direction: column; /*Permet aux élément d'être empilé verticalement */
  height: 100%; /*Assure que la card s'étend sur toute la hauteur dispo */
  background: #fff;
  text-transform: uppercase;
  position: relative;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-body);
  overflow: hidden; /*Assure que le contenu ne dépasse pas la bordure de la card */
}

.card img{
  max-width: 100%; /*Limite à la largeur de la carte */
  height: auto; /*Maintient le ration d'aspect de l'image */
}

.card_inner{
  flex: 1; /*Permet à l'élément de prendre tout l'espace dispo */
  padding: 1rem; /*réduit le padding nécessaire */
}

.card_title{
  margin: 0 0 0.5rem;/*Réduit la marge nécessaire */ 
  font-size: 1.6rem;
}

.card_overlay{
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  /* z-index: 0; */
  top: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Assure que le lien est centré*/
  align-items: center;
  justify-content: center;
  opacity: 0; /*Commence une opacité de 0 pour la transition */
  transition: opacity 0.3s ease; /*Ajoute une transition pour l'affichage en douceur*/
}
  
.card_overlay a{
  font-size:4.5rem;
  color:#fff;
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100%;
  /* toute la zone foncée est cliquable */
}

.card:hover .card_overlay{
  /* display:block; */
  top: 0;
  opacity: 1; /*Affiche l'overlay au survol */
}

 /* ---------Form---------- */

.form{
  max-width: 600px;
  margin: 4rem auto 0 auto;
}

.form input, .form textarea{
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.form textarea{
  min-height: 200px;
}

.form .btn{
  border: none;
  background: #000;
  color: #fff;
  width: auto;
  min-width: 160px;
  font-size: 2rem;
  }

.form .btn:hover{
  cursor: pointer;
  background: #b49bfc;
  /* filter:drop-shadow(2px 2px 20px #360faa); */
 /* filter permet de faire un effet néon */
}

 /* ---------Footer---------- */

footer{
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
}

footer p{
  margin: 0;
}

footer .social{
  justify-content: center;
}

footer .social li { 
  padding: 0 1.5rem;
  border: 1px solid #fff;
  border-radius: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  transition:all 1s;
}

footer .social li:hover { 
  background: #fff;
  color:var(--color-body);
}

/* footer .social a { 
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 1rem;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
 } */

@media screen and (min-width: 750px) {
  footer{
    text-align: left;
}

  footer .grid_item {
    max-width: 33.3333%;
  }
}  

@keyframes slideInLeft{
  /*c'est une animation css  */
  from{
    transform: translateX(-110%);
  }
  to{
    transform: translateX(0);
  }
}

@keyframes slideInRight{
  /*c'est une animation css  */
  from{
    transform: translateX(110%);
  }
  to{
    transform: translateX(0);
  }
}

/* Component */

